In [1]:
# CBF 내용기반 추천 시스템

from sklearn.linear_model import LinearRegression # 회귀분석
from sklearn.model_selection import train_test_split

import numpy as np
import pandas as pd

In [2]:
# 유저 평점 + 영화 속성 데이터 경로 정의

movie_data_path = './movie_rating.csv'

In [3]:
df = pd.read_csv(movie_data_path)
df

     romance    action    comedy  heart-warming  rating
0   0.740458  0.733800  0.526879       0.332906     3.0
1   0.658391  0.825211  0.608177       0.906809     5.0
2   0.680250  0.401992  0.400964       0.535223     2.0
3   0.572216  0.312618  0.496313       0.319996     1.0
4   0.543545  0.623021  0.713110       0.696774     4.0
..       ...       ...       ...            ...     ...
95  0.431629  0.803459  0.330847       0.423794     3.0
96  0.829724  0.657431  0.493758       0.432268     3.0
97  0.685688  0.760196  0.661252       0.534698     4.0
98  0.643441  0.848488  0.677173       0.638528     5.0
99  0.374184  0.517988  0.733646       0.546950     3.0

[100 rows x 5 columns]

In [4]:
df.columns

Index(['romance', 'action', 'comedy', 'heart-warming', 'rating'], dtype='object')

In [5]:
features = ['romance', 'action', 'comedy', 'heart-warming']

In [26]:
# 입력변수와 목표변수(결과변수 - rating) 나누기

x = df[features]
y = df[['rating']]

In [8]:
x

     romance    action    comedy  heart-warming
0   0.740458  0.733800  0.526879       0.332906
1   0.658391  0.825211  0.608177       0.906809
2   0.680250  0.401992  0.400964       0.535223
3   0.572216  0.312618  0.496313       0.319996
4   0.543545  0.623021  0.713110       0.696774
..       ...       ...       ...            ...
95  0.431629  0.803459  0.330847       0.423794
96  0.829724  0.657431  0.493758       0.432268
97  0.685688  0.760196  0.661252       0.534698
98  0.643441  0.848488  0.677173       0.638528
99  0.374184  0.517988  0.733646       0.546950

[100 rows x 4 columns]

In [9]:
y

    rating
0      3.0
1      5.0
2      2.0
3      1.0
4      4.0
..     ...
95     3.0
96     3.0
97     4.0
98     5.0
99     3.0

[100 rows x 1 columns]

In [10]:
# train, test data set 분리

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 42)

In [11]:
# 모델 훈련(회귀분석 모델 가져오기)

model = LinearRegression()
model.fit(x_train, y_train) # 반드시 훈련용 데이터로 사용
# 훈련용 데이터로 모델 구축(테스트 데이터는 건들면 안됨)
# fit 의미 : 사용할 모델 적합하게 데이터를 정규화해줌

LinearRegression()

In [13]:
# 회귀분석 : 과거의 데이터 분포(산점도)를 보고 미래를 추정하는 것

y_pred = model.predict(x_test)
# 예측할 때는 테스트 데이터로 예측
y_pred

array([[2.6487964 ],
       [3.64471333],
       [3.0565872 ],
       [3.54089636],
       [3.96745034],
       [4.96301092],
       [2.73834914],
       [3.09536119],
       [3.01433711],
       [3.00699471],
       [3.77224054],
       [4.14216987],
       [4.01408854],
       [2.78039001],
       [3.39901799],
       [3.80083147],
       [4.95047516],
       [3.9064911 ],
       [3.41302506],
       [3.87239949],
       [3.16525212],
       [4.18174967],
       [3.14284121],
       [4.74422158],
       [3.95877201],
       [4.28893528],
       [4.44317571],
       [2.86737155],
       [1.88595979],
       [2.82627324]])

In [25]:
pd.DataFrame(y_pred)

           0
0   2.648796
1   3.644713
2   3.056587
3   3.540896
4   3.967450
5   4.963011
6   2.738349
7   3.095361
8   3.014337
9   3.006995
10  3.772241
11  4.142170
12  4.014089
13  2.780390
14  3.399018
15  3.800831
16  4.950475
17  3.906491
18  3.413025
19  3.872399
20  3.165252
21  4.181750
22  3.142841
23  4.744222
24  3.958772
25  4.288935
26  4.443176
27  2.867372
28  1.885960
29  2.826273

In [45]:
result = pd.concat([y_test.reset_index(), pd.DataFrame(y_pred)], axis = 1).drop('index', axis = 1).rename(columns = {'rating' : 'y', 0 : 'y_pred'})
result

      y    y_pred
0   3.0  2.648796
1   4.0  3.644713
2   3.0  3.056587
3   3.0  3.540896
4   4.0  3.967450
5   5.0  4.963011
6   3.0  2.738349
7   3.0  3.095361
8   3.0  3.014337
9   3.0  3.006995
10  4.0  3.772241
11  4.0  4.142170
12  4.0  4.014089
13  3.0  2.780390
14  3.0  3.399018
15  4.0  3.800831
16  5.0  4.950475
17  4.0  3.906491
18  3.0  3.413025
19  4.0  3.872399
20  3.0  3.165252
21  4.0  4.181750
22  3.0  3.142841
23  5.0  4.744222
24  4.0  3.958772
25  4.0  4.288935
26  5.0  4.443176
27  3.0  2.867372
28  2.0  1.885960
29  3.0  2.826273